#character-img-1 {
  height: 25vw;
  background-image: url("../img/prof.jpg");
  background-size: cover;
  background-position: center;
  border: 5px solid #B6A259;
}

#character-img-2 {
  height: 25vw;
  background-image: url("../img/alan.jpg");
  background-size: cover;
  background-position: center;
  border: 5px solid #B6A259;
}

#character-img-3 {
  height: 25vw;
  background-image: url("../img/nerdy.png");
  background-size: cover;
  background-position: center;
  border: 5px solid #B6A259;
}

.carousel {
  max-width: 100%;
}
@include media-breakpoint-down(xs) {}
@include media-breakpoint-down(sm) {}
@include media-breakpoint-down(md) {}
@include media-breakpoint-up(md) {}
