#characters {
  h2 {
    color: $primary;
    font-size: 2em;
  }
  min-height: 100vh;

  .carousel-item {
    display: flex;
  }
}

#character-img-1 {
  margin-left: 15px;
  height: 35vh;
  background-image: url("../img/prof.jpg");
  background-size: cover;
  background-position: center;
  border: 5px solid #B6A259;
}

#character-img-2 {
  margin-left: 15px;
  height: 35vh;
  background-image: url("../img/alan.jpg");
  background-size: cover;
  background-position: center;
  border: 5px solid #B6A259;
}

#character-img-3 {
  margin-left: 15px;
  height: 35vh;
  background-image: url("../img/nerdy.png");
  background-size: cover;
  background-position: center;
  border: 5px solid #B6A259;
}

.carousel {
  max-width: 100%;
}
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {
  #characters {
    h2 {
      color: $primary;
      font-size: 4em;
    }
    min-height: 100vh;

    .carousel-item {
      div {
        display: flex;
        align-self: flex-end;
        flex-direction: column;
      }

      h2 {
        font-size: 2.5em;
      }

      p {
        font-size: 18px;
      }
    }
  }
}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}
