@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Work+Sans&display=swap');
@import url("https://use.typekit.net/jit4aly.css");
@font-face {
  font-family: african;
  src: url("../fonts/african.ttf");
}

body {
  font-family: 'Work Sans';

}

h1,
h2,
h3 {
  font-family: african;
}

a{
  font-family: african;
}

p{
  font-size: 14px;
}

.dark {
  background-color: #B6A259;
  color: #F8F1D4;
  &:hover{
    background-color: #C6A259;

    color:#F8F1D4;
  }
}
@include media-breakpoint-up(sm) {

}
@include media-breakpoint-up(md) {
  p{
    font-size: 16px;
  }

}
@include media-breakpoint-up(lg) {

}
@include media-breakpoint-up(xl) {

}
